{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{{ form_start(form) }}
{{ form_row(form.user) }}
{{ form_row(form.commerce) }}
{{ form_row(form.solde) }}
<button type = "submit">Valider</button>
{{ form_end(form) }}
{% endblock %}